.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
}

.swiper-slide img {
    display: block;
    object-fit: contain;
    background-color: #646AE4;
    border-radius: 2rem;
    padding: 1rem;
    width: 200px;
    height: 200px;
}